# Salesforce Connection
# This isn't indicative of anything, as .env should be hidden then managed
# through environment local to deployment
SF_LOGIN_URL=https://login.salesforce.com
SF_USERNAME=sgnl@labs.com
SF_PASSWORD=Eshie-2025
SF_SECURITY_TOKEN=N4zYGP3ak6ivSyXcJu3tPA1T

# For production: use OAuth2 Connected App credentials instead
# SF_CLIENT_ID=your_connected_app_client_id
# SF_CLIENT_SECRET=your_connected_app_client_secret
